<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="task2.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">





</head>

<body>
    <%- include('../header')%>
    <header>
        <div class="header-container container">
            <div class="logo">

            </div>

            <div class="navbar">
                <nav>
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Hosting</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Integration</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">community</a>
                        </li>

                    </ul>

                </nav>
                <div class="login-btn">
                    <a href="#" class="login">Login</a>
                </div>
            </div>
        </div>

    </header>

    <section class="page1">
        <div class="hr">
            <hr>
        </div>
        <div class="container page1-container">
            <div class="row row-page1">
                <div class="col-page1">
                    <div class="content-page1">
                        <h1 class="h1">Hosting Services for Your Website</h1>
                        <p class="subhead-page1">
                            Easily and reliably host a website for your business, organization, or project while
                            retaining complete control over your site's underlying infrastructure.
                        </p>
                        <div class="btns-page1">
                            <a href="#" class="get-started">Get Started</a>
                            <a href="#" class="help">Get Migration Help</a>
                        </div>
                    </div>

                </div>
                <div class="col-page1">
                    <div>
                        <img class="img-page1" src="./portrait-confident-bearded-man-using-laptop-computer 1.png"
                            alt="">
                    </div>
                </div>
            </div>
            <div>
                <img src="./arrow-down.png" class="arrow" alt="">
            </div>
        </div>

    </section>
    <section class="page2">
        <div class="container">
            <div class=" row row-page2">
                <div class="col-page2">
                    <p class="content-page2">Those Who Have Experienced The Best Performance</p>
                </div>
                <div class="col-page2">
                    <img src="./Telkom Indonesia Logo.png" alt="" class="company">
                </div>
                <div class="col-page2">
                    <img src="./Jetstar Airways Logo.png" alt="" class="company">
                </div>
                <div class="col-page2">
                    <img src="./Nescafe Logo.png" alt="" class="company">
                </div>
                <div class="col-page2">
                    <img src="./Lenovo Logo.png" alt="" class="company">
                </div>
            </div>
        </div>
    </section>

    <section class="page3">
        <div class="container content-page3">
            <div class="row row-page3">
                <div class="col-page3">
                    <div>
                        <img class="img-page3" src="./Group 3552.png" alt="">
                    </div>
                </div>
                <div class="col-page3">
                    <div class="content-page3">
                        <div class="head-page3">
                            <h3>Boost The Speed Of Your Website</h3>

                        </div>
                        <div class="row row2-page3">
                            <div class="col-row2-page3">
                                <h4 class="h4-page3">Faster Build Process</h4>
                                <p class="subhead-page3">
                                    We can speed up the process of creating your website
                                </p>
                            </div>
                            <div class="col-row2-page3">
                                <h4 class="h4-page3">Faster Delivery</h4>
                                <p class="subhead-page3">
                                    Our purchases and services can be completed quickly
                                </p>
                            </div>
                            <div class="col-row2-page3">
                                <h4 class="h4-page3">Faster Access speed</h4>
                                <p class="subhead-page3">
                                    Superb network infrastructure and hardware to support fast and stable access
                                </p>
                            </div>
                            <div class="col-row2-page3">
                                <h4 class="h4-page3">24/7 Faster Service</h4>
                                <p class="subhead-page3">
                                    We have a response time of less than 180 seconds, available 24 hours a day
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page4">
        <div class="container container-page4">
            <div>
                <h3 class="head-page4">Host Any Website With Our Fully Managed Services </h3>
            </div>

            <div class="row row-page4">
                <div class="col-page4 ">
                    <div class="card-page4 ">
                        <div class="content-page4">
                            <div class="icon-page4">
                                <img class="icon-p4" src="./cloud-sunny.png" alt="">
                                <h3 class="card-head-page4">Cloud Hosting</h3>
                            </div>
                            <div>
                                <p class="text-page4">
                                    Cloud Hosting is a good fit for those who are building personal websites,
                                    plateforms, portfolios, blogs, and other systems
                                </p>
                            </div>
                        </div>
                        <div class="other-page4">
                            <p class="month"><span class="big">$5.9</span>/month</p>
                            <a href="#" class="more-detail">More Detail</a>
                        </div>

                    </div>
                </div>
                <div class="col-page4">
                    <div class="card-page4">
                        <div class="content-page4">
                            <div class="icon-page4">
                                <img class="icon-p4" src="./cloud-sunny.png" alt="">
                                <h3 class="card-head-page4">Cloud Hosting</h3>
                            </div>
                            <div>
                                <p class="text-page4">
                                    Cloud Hosting is a good fit for those who are building personal websites,
                                    plateforms, portfolios, blogs, and other systems
                                </p>
                            </div>
                        </div>
                        <div class="other-page4">
                            <p class="month"><span class="big">$5.9</span>/month</p>
                            <a href="#" class="more-detail">More Detail</a>
                        </div>

                    </div>
                </div>
                <div class="col-page4">
                    <div class="card-page4">
                        <div class="content-page4">
                            <div class="icon-page4">
                                <img class="icon-p4" src="./cloud-sunny.png" alt="">
                                <h3 class="card-head-page4">Cloud Hosting</h3>
                            </div>
                            <div>
                                <p class="text-page4">
                                    Cloud Hosting is a good fit for those who are building personal websites,
                                    plateforms, portfolios, blogs, and other systems
                                </p>
                            </div>
                        </div>
                        <div class="other-page4">
                            <p class="month"><span class="big">$5.9</span>/month</p>
                            <a href="#" class="more-detail">More Detail</a>
                        </div>

                    </div>
                </div>
                <div class="col-page4">
                    <div class="card-page4">
                        <div class="content-page4">
                            <div class="icon-page4">
                                <img class="icon-p4" src="./cloud-sunny.png" alt="">
                                <h3 class="card-head-page4">Cloud Hosting</h3>
                            </div>
                            <div></div>
                            <p class="text-page4">
                                Cloud Hosting is a good fit for those who are building personal websites,
                                plateforms, portfolios, blogs, and other systems
                            </p>
                        </div>
                        <div class="other-page4">
                            <p class="month"><span class="big">$5.9</span>/month</p>
                            <a href="#" class="more-detail">More Detail</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page5">
        <div class="container container-page5">
            <div class="row row-page5">
                <div class="col1-page5">
                    <div class="boxes-page5">
                        <p onclick="openTab(event,'wordpress')" class="tab tablinks"><img class="tab-icon"
                                src="./WordPress.com Logo.png" alt="">
                            Wordpress</p>
                        <p onclick="openTab(event,'megento')" class="tab tablinks"><img class="tab-icon"
                                src="./WordPress.com Logo.png" alt=""> Magento</p>
                        <p onclick="openTab(event,'laravel')" class="tab tablinks"><img class="tab-icon"
                                src="./WordPress.com Logo.png" alt=""> Laravel</p>
                        <p onclick="openTab(event,'php')" class="tab tablinks"><img class="tab-icon"
                                src="./WordPress.com Logo.png" alt=""> PHP</p>
                    </div>
                </div>
                <div class="col2-page5">
                    <div class="content-page5 tabcontent" id="wordpress">
                        <div class="head-page5">
                            <h3 class="h3-page5">
                                The Best Managed Cloud Hosting for Wordpress
                            </h3>
                            <p class="subhead-page5">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae hic odit, unde autem
                                totam numquam pariatur dolor commodi, asperiores magnam aliquid error accusantium
                                reiciendis itaque saepe quod rerum? Optio, corrupti.
                            </p>
                        </div>
                        <div class="other-page5">
                            <div class="row row2-page5">
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Unlimited Bandwidth
                                </div>
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Network Speed
                                </div>
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Turbo Power
                                </div>
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Xtreme Freedom
                                </div>
                            </div>
                        </div>
                        <div class="btn-page5">
                            <a href="#" class="more-detail-page5">More Detail</a>
                        </div>
                    </div>
                    <div class="content-page5 tabcontent" id="megento">
                        <div class="head-page5">
                            <h3 class="h3-page5">
                                The Best Managed Cloud Hosting for megento
                            </h3>
                            <p class="subhead-page5">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae hic odit, unde autem
                                totam numquam pariatur dolor commodi, asperiores magnam aliquid error accusantium
                                reiciendis itaque saepe quod rerum? Optio, corrupti.
                            </p>
                        </div>
                        <div class="other-page5">
                            <div class="row row2-page5">
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Unlimited Bandwidth
                                </div>
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Network Speed
                                </div>
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Turbo Power
                                </div>
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Xtreme Freedom
                                </div>
                            </div>
                        </div>
                        <div class="btn-page5">
                            <a href="#" class="more-detail-page5">More Detail</a>
                        </div>
                    </div>
                    <div class="content-page5 tabcontent" id="laravel">
                        <div class="head-page5">
                            <h3 class="h3-page5">
                                The Best Managed Cloud Hosting for laravel
                            </h3>
                            <p class="subhead-page5">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae hic odit, unde autem
                                totam numquam pariatur dolor commodi, asperiores magnam aliquid error accusantium
                                reiciendis itaque saepe quod rerum? Optio, corrupti.
                            </p>
                        </div>
                        <div class="other-page5">
                            <div class="row row2-page5">
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Unlimited Bandwidth
                                </div>
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Network Speed
                                </div>
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Turbo Power
                                </div>
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Xtreme Freedom
                                </div>
                            </div>
                        </div>
                        <div class="btn-page5">
                            <a href="#" class="more-detail-page5">More Detail</a>
                        </div>
                    </div>
                    <div class="content-page5 tabcontent" id="php">
                        <div class="head-page5">
                            <h3 class="h3-page5">
                                The Best Managed Cloud Hosting for php
                            </h3>
                            <p class="subhead-page5">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae hic odit, unde autem
                                totam numquam pariatur dolor commodi, asperiores magnam aliquid error accusantium
                                reiciendis itaque saepe quod rerum? Optio, corrupti.
                            </p>
                        </div>
                        <div class="other-page5">
                            <div class="row row2-page5">
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Unlimited Bandwidth
                                </div>
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Network Speed
                                </div>
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Turbo Power
                                </div>
                                <div class="col-row2-page5">
                                    <img class="check" src="./Vector.png" alt=""> Xtreme Freedom
                                </div>
                            </div>
                        </div>
                        <div class="btn-page5">
                            <a href="#" class="more-detail-page5">More Detail</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="page6">
        <div class="container container-page6">
            <div class="head-page6">
                <p class="heading-page6">
                    How Our Customers Feel About Us
                </p>
                <a id="left-arrow" class=" arrow-page6"><img src="./left-arrow.svg" alt=""></a>
                <a id="right-arrow" class=" arrow-page6"><img src="./right-arrow.svg" alt=""></a>
            </div>
            <div id="slider">
                <div class=" row-page6">
                    <div class="col-page6">
                        <div class="bg-card-p6">
                            <div class="card-page6">
                                <div class="img-page6">
                                    <img src="./profile.png" class="profile" alt="">
                                </div>
                                <div class="stars-page6">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="">
                                    <img src="./Star 2.png" alt="" class="">
                                    <img src="./Star 2.png" alt="" class="">
                                    <img src="./Star 2.png" alt="" class="">
                                </div>
                                <div class="review">
                                    <p> thanks to the Awan Hoster, I was guided step-bystep until it was
                                        finished
                                    </p>
                                </div>
                                <div class="auther">
                                    <p class="reviewer">Guy Howkines</p>
                                    <p class="des-page6">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-page6">
                        <div class="bg-card-p6">
                            <div class="card-page6">
                                <div class="img-page6">
                                    <img src="./profile.png" class="profile" alt="">
                                </div>
                                <div class="stars-page6">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                </div>
                                <div class="review">
                                    <p> thanks to the Awan Hoster, I was guided step-bystep until it was
                                        finished
                                    </p>
                                </div>
                                <div class="auther">
                                    <p class="reviewer">Guy Howkines</p>
                                    <p class="des-page6">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-page6">
                        <div class="bg-card-p6">
                            <div class="card-page6">
                                <div class="img-page6">
                                    <img src="./profile.png" class="profile" alt="">
                                </div>
                                <div class="stars-page6">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                </div>
                                <div class="review">
                                    <p> thanks to the Awan Hoster, I was guided step-bystep until it was
                                        finished
                                    </p>
                                </div>
                                <div class="auther">
                                    <p class="reviewer">Guy Howkines</p>
                                    <p class="des-page6">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-page6">
                        <div class="bg-card-p6">
                            <div class="card-page6">
                                <div class="img-page6">
                                    <img src="./profile.png" class="profile" alt="">
                                </div>
                                <div class="stars-page6">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                </div>
                                <div class="review">
                                    <p> thanks to the Awan Hoster, I was guided step-bystep until it was
                                        finished
                                    </p>
                                </div>
                                <div class="auther">
                                    <p class="reviewer">Guy Howkines</p>
                                    <p class="des-page6">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-page6">
                        <div class="bg-card-p6">
                            <div class="card-page6">
                                <div class="img-page6">
                                    <img src="./profile.png" class="profile" alt="">
                                </div>
                                <div class="stars-page6">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                </div>
                                <div class="review">
                                    <p> thanks to the Awan Hoster, I was guided step-bystep until it was
                                        finished
                                    </p>
                                </div>
                                <div class="auther">
                                    <p class="reviewer">Guy Howkines</p>
                                    <p class="des-page6">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-page6">
                        <div class="bg-card-p6">
                            <div class="card-page6">
                                <div class="img-page6">
                                    <img src="./profile.png" class="profile" alt="">
                                </div>
                                <div class="stars-page6">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                    <img src="./Star 2.png" alt="" class="star">
                                </div>
                                <div class="review">
                                    <p> thanks to the Awan Hoster, I was guided step-bystep until it was
                                        finished
                                    </p>
                                </div>
                                <div class="auther">
                                    <p class="reviewer">Guy Howkines</p>
                                    <p class="des-page6">Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page7">
        <div class="container page7-container">
            <div class="row row-page7">
                <div class="col-page7">
                    <div class="content-page7">
                        <h3 class="h3-page7">Try It Now And Stop Doubting Anything Else</h1>
                            <p class="subhead-page7">
                                With Awan Hoster's Money Back Guarantee, you can try the best service reliability
                            </p>
                            <div class="btns-page7">
                                <a href="#" class="free-trial">Start Free Trial</a>
                                <a href="#" class="plans">See All Plans</a>
                            </div>
                    </div>

                </div>
                <div class="col-page7">
                    <div>
                        <img class="img-page7" src="./Group 1000008788.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row row-footer">
                <div class="col1-footer">
                    <div class="wrap">
                        <div class="logo-footer">
                            <img src="./logo-white.png" alt="" class="logo-footer">
                        </div>
                        <div class="subtext-footer">
                            <p>We Provide you with the best hosting solution for your website</p>
                        </div>
                        <div class="soc-icons">
                            <img src="./facebook.svg" class="soc-icon" alt="">
                            <img src="./twitter.svg" class="soc-icon" alt="">
                            <img src="./insta.svg" class="soc-icon" alt="">
                            <img src="./youtube.svg" class="soc-icon" alt="">
                        </div>
                    </div>
                </div>
                <div class="col2-footer">
                    <div class="row row2footer">
                        <div class="col-row2-f">
                            <div class="list-group">
                                <p class="bold">Company</p>
                                <ul class="list">
                                    <li>About</li>
                                    <li>Blog</li>
                                    <li>Leadership</li>
                                    <li>Careers</li>
                                    <li>Legal</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-row2-f">
                            <div class="list-group">
                                <p class="bold">Company</p>
                                <ul class="list">
                                    <li>About</li>
                                    <li>Blog</li>
                                    <li>Leadership</li>
                                    <li>Careers</li>
                                    <li>Legal</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-row2-f">
                            <div class="list-group">
                                <p class="bold">Company</p>
                                <ul class="list">
                                    <li>About</li>
                                    <li>Blog</li>
                                    <li>Leadership</li>
                                    <li>Careers</li>
                                    <li>Legal</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>

        var left_scroll = document.getElementById("left-arrow");
        var right_scroll = document.getElementById("right-arrow");
        var slider = document.getElementById("slider")
        right_scroll.addEventListener("click",function(){
            slider.scrollBy({
                left:200,
                behavior:"smooth"
            })
        })
        left_scroll.addEventListener("click",function(){
            slider.scrollBy({
                left:-200,
                behavior:"smooth"
            })
        })


        function openTab(event, tech) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
                console.log("1");
            }
            console.log("2");
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
                console.log("3");
            } console.log("4");
            document.getElementById(tech).style.display = "block";
            event.currentTarget.className += " active";
           
        } console.log("6");
    </script>
</body>

</html>