<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./task1.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


</head>

<body>
  <%- include('../header')%>
    <header>
      <div class="container">
        <div class="navbar">
          <div class="logo">
            <img src="./Logo.svg" alt="">
          </div>

          <nav>
            <ul>
              <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Landings</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Pages</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Docs</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Help</a>
              </li>

            </ul>
          </nav>
          <div>
            <a href="#" class="nav-btn">Get it now</a>
          </div>
        </div>
      </div>
    </header>
    <section class="page1">
      <div class="container">
        <div class="row row-page1">
          <div class="col-page1">
            <div>
              <img class="img" src="./Hero.png" alt="">
            </div>
          </div>
          <div class="col-page1 ">
            <div class="content-1">
              <p class="home-heading">Make Your new life happier.</p>
              <p class="home-content">We work with several leading insurance companies to secure insurance
                coverages tailored to meet your needs.</p>

              <a href="" class="btn2">Get a consultation</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page2">
      <div class="container">
        <p class="service">OUR SERVICES</p>

        <div class="content-2">
          <div class="head">
            <h4 class="page2-heading">Insurance made simple for you</h4>
            <p class="page2-subheading">We work with several leading insurance companies to secure insurance
              coverages tailored to meet your needs.</p>

          </div>
          <div class="row page2-row1">
            <div class="col ">
              <div class="content-3">
                <div> <img class="icon" src="./check-7086.svg" alt=""></div>

                <p>Flxible products to make your life easier</p>
              </div>
            </div>
            <div class="col">
              <div class="content-3">
                <div> <img src="./check-7086.svg" class="icon" alt=""></div>

                <p>Highest standards of service</p>
              </div>
            </div>
            <div class="col">
              <div class="content-3">
                <div> <img class="icon" src="./check-7086.svg" alt=""></div>

                <p>Fast and reliable services</p>
              </div>
            </div>
          </div>

          <div class="row ins-type">
            <div class="col page2-col">
              <div class="card">
                <div class="icon-page2">
                  <img src="./Icon_Home.svg" alt="">
                </div>
                <div class="textroup">
                  <h3> Home insurance</h3>
                  <p class="opacity sub-text"> consectetur adipisicing elit. Quidem nostrum dolore
                    consectetur vitae ex harum natus accusantium labore, rem quisquam?</p>
                </div>
                <div>
                  <a href="#" class="learnmore">Learn more <span>&#8594;</span></a>
                </div>
              </div>
            </div>
            <div class="col page2-col">
              <div class="card">

                <div class="icon-page2">
                  <img src="./Icon_Blood_Donation.svg" alt="">
                </div>
                <div class="textroup">
                  <h3> Life insurance</h3>
                  <p class="opacity sub-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Quidem
                    nostrum dolore
                    consectetur vitae ex harum natus accusantium labore, rem quisquam?</p>
                </div>
                <div>

                  <a href="#" class="learnmore">Learn more <span>&#8594;</span></a>
                </div>
              </div>
            </div>

            <div class="col page2-col">
              <div class="card">
                <div class="icon-page2">
                  <img src="./Icon_Car.svg" alt="">
                </div>
                <div class="textroup">
                  <h3> Home insurance</h3>
                  <p class="opacity sub-text"> ipsum, dolor sit amet consectetur adipisicing elit. Quidem
                    nostrum dolore
                    consectetur vitae ex harum natus accusantium labore, rem quisquam?</p>
                </div>
                <div>
                  <a href="#" class="learnmore">Learn more <span>&#8594;</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="page3">
      <div class="container">
        <p class="service">OUR TIPS FOR YOU</p>

        <div class="content-4">
          <div class="head">
            <h4 class="page2-heading">Reinventing your protection</h4>
            <p class="page2-subheading">We share common trends, strategies ideas, opinions,short & long
              stories
              from the team behind company.</p>
          </div>
          <div class="row page3-row">
            <div class="col page3-col">
              <div class="bg-card page3-col1 ">
                <div class="content-5">
                  <p>
                    How to prevent and protect your family from carbon monoxide
                  </p>
                </div>
              </div>
            </div>
            <div class="col page3-col">
              <div class="bg-card page3-col2 ">


                <div class="content-5">
                  <p>Motherhood is the hardest and the best job ever</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="page4">
      <div class="container">

        <div class="row page4-row">
          <div class="col col-page4 ">
            <div class="card-page4">
              <p class="service page4-green">YOUR BENIFITS</p>

              <p class="page4-heading"> We're your right insurance advocate</p>
            </div>
          </div>
          <div class="col col-page4">
            <div class="card-page4">
              <div class="icon-page4">
                <img src="./Donation.svg" alt="">
              </div>
              <div class="textroup">
                <h4 class="card-title-page4"> We have the best prices</h4>
                <p class="opacity sub-text-page4"> Our insurance plans offers are proced the same everywhere
                  else. We just make them for you to find.</p>
              </div>
            </div>
          </div>
          <div class="col col-page4 ">
            <div class="card-page4">
              <div class="icon-page4">
                <img src="./Donation.svg" alt="">
              </div>
              <div class="textroup">
                <h4 class="card-title-page4"> We have the best prices</h4>
                <p class="opacity sub-text-page4"> Our insurance plans offers are proced the same everywhere
                  else. We just make them for you to find.</p>
              </div>

            </div>
          </div>



          <div class="col  col-page4">
            <div class="card-page4">
              <div class="icon-page4">
                <img src="./Donation.svg" alt="">
              </div>
              <div class="textroup">
                <h4 class="card-title-page4"> We have the best prices</h4>
                <p class="opacity sub-text-page4"> Our insurance plans offers are proced the same everywhere
                  else. We just make them for you to find.</p>
              </div>

            </div>
          </div>
          <div class="col col-page4">
            <div class="card-page4">
              <div class="icon-page4">
                <img src="./Donation.svg" alt="">
              </div>
              <div class="textroup">
                <h4 class="card-title-page4"> We have the best prices</h4>
                <p class="opacity sub-text-page4"> Our insurance plans offers are proced the same everywhere
                  else. We just make them for you to find.</p>
              </div>
            </div>
          </div>
          <div class="col  col-page4">
            <div class="card-page4">
              <div class="icon-page4">
                <img src="./Donation.svg" alt="">
              </div>
              <div class="textroup">
                <h4 class="card-title-page4"> We have the best prices</h4>
                <p class="opacity sub-text-page4"> Our insurance plans offers are proced the same everywhere
                  else. We just make them for you to find.</p>
              </div>
            </div>
          </div>


        </div>
      </div>

    </section>

    <section class="page5">
      <div class="container">
        <div class="row row-page5">
          <div class="col col-page5">
            <div class="imgs">
              <img src="./Avatar.png" alt="" class="Avatar">
              <img src="./Avatar-1.png" alt="" class="Avatar">
              <img src="./Avatar-2.png" alt="" class="Avatar">
            </div>
            <div>
              <p class="center"><span class="bold">Friendly</span> Customer Support Team</p>
            </div>
          </div>
          <div class="col col-page5">
            <div class="title">
              <img src="./Path.svg" class="path" alt="">
              <p>Trustpilot</p>
            </div>
            <div class="starts">
              <img src="./s.svg" alt="" class="star">
              <img src="./s.svg" alt="" class="star">
              <img src="./s.svg" alt="" class="star">
              <img src="./s.svg" alt="" class="star">
              <img src="./s.svg" alt="" class="star">
            </div>
            <div>
              <p class="center"><span class="bold">4.6 out of 5 stars </span> from 8.6k reviews </p>
            </div>
          </div>
          <div class="col col-page5">
            <div class="like">
              <img src="./Icon_Like.svg" alt="" class="like">

            </div>
            <div>
              <p class="center">
                Wr're making <span class="bold">Insurance as simple as</span> can be
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="footer">
          <div class="row footer-row">

            <div class="col col-footer1">
              <div class="footer-logo">
                <img src="./Logo_white.svg" alt="">
              </div>
              <div class="sub-footer">
                <p class="opacity">Build a morden and creative website with crealand</p>
              </div>
              <div class="soc-icons">
                <img src="./google.svg" class="soc-icon" alt="">
                <img src="./twitter.svg" class="soc-icon" alt="">
                <img src="./insta.svg" class="soc-icon" alt="">
                <img src="./linkdin.svg" class="soc-icon" alt="">
                <img src="./youtube.svg" class="soc-icon" alt="">
              </div>
            </div>
            <div class="col col-footer2">
              <p class="footer-bold">Ready to get insured? Submit your request and here back as soon as
                tomorrow
              </p>
              <form action="#">
                <input type="text" class="email">
                <input type="submit" class="submit" value="Get started">
              </form>
            </div>
          </div>
          <div class="copyright-div">
            <p class="opacity copyright">
              Copyright <span>&#169;</span> 2019. Crafted with love.
            </p>
          </div>
        </div>
      </div>
    </footer>


</body>

</html>