<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dash.css">


</head>

<body>
<%- include('header')%>
    <main>
        <div class="container">
            <h2 id="title">User Dashboard</h2>

            <div class="links">
                <table class="tbl">

                    <ul>
                        <tr>
                            <td>
                                <li><a class="task"  href="/kukucube">KUKUCUBE</a></li>
                            </td>
                            <td>
                                <li><a class="task"  href="/tic-tac-toe">Tic Tac Toe</a></li>
                            </td>
                            <td>
                                <li><a class="task"  href="/dynamic_table">DYNAMIC TABLE</a></li>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <li><a class="task" href="/event">EVENT</a></li>
                            </td>

                            <td>
                                <li> <a class="task"  href="/search_grid">SEARCH GRID</a></li>
                            </td>
                            <td>
                                <li> <a class="task"  href="/result">RESULT</a></li>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <li><a class="task"  href="/dynamic_grid">DYNAMIC GRID</a></li>
                            </td>
                            <td>
                                <li><a class="task"  href="/delimeter_search">DELIMETER SEARCH</a></li>
                            </td>
                            <td>
                                <li><a class="task"  href="/job_application">JOB APPLICATION FORM</a></li>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <li><a class="task"  href="/job_application2">MULTI-STEP JOB APPLICATION FORM</a></li>
                            </td>
                            <td>
                                <li><a class="task" href="/html_task1">TEMPLATE 1</a></li>
                            </td>
                            <td>
                                <li><a class="task"  href="/html_task2">TEMPLATE 2</a></li>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <li><a class="task" href="/html_task3">TEMPLATE 3</a></li>
                            </td>
                            <td>
                                <li><a class="task"  href="/fetch_post/posts">API FETCH</a></li>
                            </td>
                            <td></td>
                        </tr>
                    </ul>
                </table>
            </div>

        </div>
    </main>

</body>

</html>