<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dash.css">
</head>

<body>
    <div class="container">
        <h2 id="title">User Dashboard</h2>

        <div class="links">
            <a href="/kukucube">kukucube</a>
            <a href="/tic-tac-toe">tic-tac-toe</a>
            <a href="/dynamic_table">dynamic_table</a>
            <a href="/event">event</a>
            <a href="/search_grid">Search Grid</a>
            <a href="/result">Result</a>
            <a href="/dynamic_grid">Dynamic Grid</a>
            <a href="/delimeter_search">Delimeter Search</a>
            <a href="/job_application">Job Application Form</a>
        </div>
    </div>
</body>
</html>