<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dash.css">
</head>

<body>
    <div class="container">
        <h2 id="title">User Dashboard</h2>

        <div class="links">
            <ul>
                <li><a href="/kukucube">kukucube</a></li>
                <li><a href="/tic-tac-toe">tic-tac-toe</a></li>
                <li><a href="/dynamic_table">dynamic_table</a></li>
                <li> <a href="/search_grid">Search Grid</a></li>
                <li><a href="/event">event</a></li>
                <li> <a href="/result">Result</a></li>
                <li><a href="/dynamic_grid">Dynamic Grid</a></li>
                <li><a href="/delimeter_search">Delimeter Search</a></li>
                <li><a href="/job_application">Job Application Form</a></li>
                <li><a href="/job_application2">Multi Step Job Application Form</a></li>
                <li><a href="/html_task1">Template 1</a></li>
                <li><a href="/html_task2">Template 2</a></li>
                <li><a href="/html_task3">Template 3</a></li>
            </ul>

            
        </div>
    </div>
</body>

</html>