<header>
  <div class="nav" id="main_header">
    <a href="/dash" id="home">HOME</a>
    <a id="logout" onclick="logout()">LOGOUT</a>
  </div>
</header>

<style>
  #home {
    padding: 10px 19px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin: 1rem 4rem;
    font-size: large;
    color: black;
  }

  #logout {

    background-color: gray;
    ;
    padding: 10px 19px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem 4rem 1rem auto;
  }

  #main_header {
    display: flex;
    background-color: #ffffff61;
    box-shadow: 4px 6px #d9d9d9;
    border-radius: 6px;
    width: 100%;
    margin: 0 -10px;
  }
</style>

<script>async function logout() {
    const response = await fetch('/logout');
    const result = await response.json();
    window.location.href = '/';
  }</script>