/* #tbl{
    width: 95%;

} */

tr {
  height: 3rem;
}

td p {
  overflow: scroll;
  height: 5rem;
  width: 30rem;

}

.head {
  font-size: x-large;
  font-weight: 300;
  text-align: center;
}

a {
  cursor: pointer;
}

img {
  width: 12rem;
}

.arrow {
  display: flex;
  justify-content: center;
}

.page_btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  padding: 1rem;
  color: black;
  margin: 20px 7px;

}