<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="task3.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">


</head>

<body>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo">
                    <img class="hirex" src="./HireX_black.png" alt="">
                </div>
                <div class="navbar">
                    <nav>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link">Works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">About us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">FAQs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Contact us</a>
                            </li>
                        </ul>
                    </nav>
                    <a class="hiring">We're Hiring <span class="bold">&#8594;</span> </a>
                </div>
            </div>
        </div>
    </header>
    <section class="page1">
        <div class="container">
            <div class="row ">
                <div class="col-p1">
                    <div class="content-p1">
                        <div class="upper-p1">
                            <p class="welcome"> WELCOME TO HIREX.</p>
                            <img class="star" src="./Star 1.png" alt="">
                        </div>
                        <div class="head-p1">

                            <h3 class="heading-p1">
                                Award Winning Digital Agency.
                            </h3>
                            <p>Digital Agency Offering unique solutions to create digital presence and increase your
                                sales.
                            </p>
                        </div>
                        <div class="btn-p1">
                            <form action="#" class="form">
                                <input type="text-p5" class="input" placeholder="Your Email Address">
                                <input type="submit" class="submit" value="Request access">
                            </form>
                        </div>
                        <div class="box-p1">
                            Open account and get 5 boxes
                        </div>
                    </div>
                </div>
                <div class="col-page1">
                    <div class="group-p1">
                        <div class="ele1-p1">
                            <img src="./image 2 (Traced).png" alt="" class="img1-p1">
                            <p>Web Design</p>
                        </div>
                        <div class="ele2-p1">
                            <img src="./image 6 (Traced).png" alt="" class="img2-p1">
                            <p>Social Media</p>
                        </div>
                        <div class="ele3-p1">
                            <p>UXI Design</p>
                            <img src="./image 1 (Traced).png" alt="" class="img3-p1">

                        </div>
                        <div class="ele4-p1">
                            
                            <img src="./Group 6.png" alt="" >

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page2">
        <div class="marquee">

            <div class="row row-p2">
                <div class="col-p2">
                    <div class="content-p2">
                        <p>GET ACCESS NOW!</p>
                        <img class="person-p2" src="./image-fBLQvAFN1-transformed 1.png" alt="">
                    </div>
                </div>
                <div class="col-p2">
                    <div class="content-p2">
                        <p>GET ACCESS NOW!</p>
                        <img class="person-p2" src="./image-fBLQvAFN1-transformed 1.png" alt="">
                    </div>
                </div>
                <div class="col-p2">
                    <div class="content-p2">
                        <p>GET ACCESS NOW!</p>
                        <img class="person-p2" src="./image-fBLQvAFN1-transformed 1.png" alt="">
                    </div>
                </div>
                <div class="col-p2">
                    <div class="content-p2">
                        <p>GET ACCESS NOW!</p>
                        <img class="person-p2" src="./image-fBLQvAFN1-transformed 1.png" alt="">
                    </div>
                </div>
                <div class="col-p2">
                    <div class="content-p2">
                        <p>GET ACCESS NOW!</p>
                        <img class="person-p2" src="./image-fBLQvAFN1-transformed 1.png" alt="">
                    </div>
                </div>
                <div class="col-p2">
                    <div class="content-p2">
                        <p>GET ACCESS NOW!</p>
                        <img class="person-p2" src="./image-fBLQvAFN1-transformed 1.png" alt="">
                    </div>
                </div>
                

            </div>
        </div>
    </section>


    <section class="page3">
        <div class="container">
            <div class="head">
                <div class="btn-p3">
                    <p class="btn-services">
                        services
                    </p>
                </div>

                <h3 class="h3">How Hirex. Work</h3>
                <div class="sub-head">
                    <p class="sub">The Awesome people who makes all this possible</p>
                </div>
            </div>
            <div class="row row-p3">
                <div class="col-p3">
                    <div class="card-p3">
                        <p class="start-here">START HERE</p>
                        <p class="card-head-p3">
                            Who we are & what we do
                        </p>
                        <img class="person-p3" src="./Designer _Flatline 1.png" alt="">
                        <div class="btn2-p3">
                            <a href="#" class="btn-start" id="first-p3"> START HERE <span>&#8594;</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-p3">
                    <div class="card-p3">
                        <p class="start-here">CUSTOM DESIGN</p>
                        <p class="card-head-p3">
                            We'll design your projects
                        </p>
                        <img class="person-p3" src="./Notifications_Flatline 1.png" alt="">
                        <div class="btn2-p3">
                            <a href="#" class="btn-start" id="second-p3"> START HERE <span>&#8594;</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-p3">
                    <div class="card-p3">
                        <p class="start-here">CONTACT US</p>
                        <p class="card-head-p3">
                            Drop us your message!
                        </p>
                        <img src="./Fortnite_Two Color 1.png" id="persone3-p3" alt="" class="person-p3">
                        <div class="btn2-p3">
                            <a href="#" class="btn-start" id="third-p3"> START HERE <span>&#8594;</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="page4">
        <div class="container">
            <div class="head">
                <div class="btn-p3">
                    <p class="btn-works">Works</p>
                </div>
                <h3 class="h3">
                    Find our latest works
                </h3>
                <div class="sub-head">
                    <p class="sub">
                        The awesome people who makes all this possible
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-p4">
                    <div class="content-p4">
                        <div>
                            <img src="./Rectangle 13.png" class="img1-p4" alt="">
                        </div>
                        <div class="content1-p4">
                            <p class="btn-webDesign">
                                Web design
                            </p>
                            <h4 class="h4-p4">
                                Website Design For Digital Agency
                            </h4>
                            <p class="sub2-p4">
                                Build a unique website with HireX Template
                            </p>
                            <a href="#" class="read-more">Read more <span>&#8594;</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-p4" id="col2-p4">
                    <div class="content-p4">
                        <div>
                            <img src="./Rectangle 13-1.png" class="img1-p4" alt="">
                        </div>
                        <div class="content1-p4">
                            <p class="btn-webDesign">
                                3D Design
                            </p>
                            <h4 class="h4-p4">
                                Realistic 3d Model of Living Room
                            </h4>
                            <p class="sub2-p4">
                                Build a unique website with HireX Template
                            </p>
                            <a href="#" class="read-more">Read more <span>&#8594;</span></a>
                        </div>

                    </div>
                    <div class="ele-p4">
                        <a href="#" class="viewall-btn">View All<span>&#8594;</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page5">
        <div class="container">
            <div class="content-p5">
                <div class="head">
                    <h3 class="h3">Plans & Pricing</h3>
                    <div class="sub-head">
                        <div class="sub">The Awesome people who makes all this possible</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-p5">
                        <div class="card-p5">
                            <div class="text-p5">
                                <p class="card-head-p5">FREE</p>
                                <p class="price">$0<span class="small">/MONTH</span></p>
                                <p class="sub-5">Start free while you learn more about our services</p>

                            </div>
                            <hr>
                            <div class="list-div">
                                <ul class="list-p5">
                                    <li><img src="./icons8-check.svg" class="check-icon" alt="">Free forever het the
                                        basic essential</li>
                                    <li><img src="./icons8-check.svg" class="check-icon" alt="">Advanced security and
                                        performance</li>
                                    <li><img src="./icons8-check.svg" class="check-icon" alt="">Unlimited unhosted sited
                                    </li>
                                    <li><img src="./icons8-check.svg" class="check-icon" alt="">Live support</li>
                                </ul>
                            </div>
                            <div class="btn-getstarted">
                                <a href="#" class="getstarted" id="btn1-p5">
                                    GET STARTED
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-p5">
                        <div class="card-p5">
                            <div class="text-p5">
                                <p class="card-head-p5">FREE</p>
                                <p class="price">$0<span class="small">/MONTH</span></p>
                                <p class="sub-5">Start free while you learn more about our services</p>

                            </div>
                            <hr>
                            <div class="list-div">
                                <ul class="list-p5">
                                    <li><img src="./icons8-check.svg" class="check-icon" alt="">Free forever het the
                                        basic essential</li>
                                    <li><img src="./icons8-check.svg" class="check-icon" alt="">Advanced security and
                                        performance</li>
                                    <li><img src="./icons8-check.svg" class="check-icon" alt="">Unlimited unhosted sited
                                    </li>
                                    <li><img src="./icons8-check.svg" class="check-icon" alt="">Live support</li>
                                </ul>
                            </div>
                            <div class="btn-getstarted">
                                <a href="#" class="getstarted" id="btn2-p5">
                                    GET STARTED
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-p5">
                        <div class="card-p5">
                            <div class="text-p5">
                                <p class="card-head-p5">FREE</p>
                                <p class="price">$0<span class="small">/MONTH</span></p>
                                <p class="sub-5">Start free while you learn more about our services</p>

                            </div>
                            <hr>
                            <div class="list-div">
                                <ul class="list-p5">
                                    <li><img src="./icons8-check.svg" class="check-icon" alt="">Free forever het the
                                        basic essential</li>
                                    <li><img src="./icons8-check.svg" class="check-icon" alt="">Advanced security and
                                        performance</li>
                                    <li><img src="./icons8-check.svg" class="check-icon" alt="">Unlimited unhosted sited
                                    </li>
                                    <li><img src="./icons8-check.svg" class="check-icon" alt="">Live support</li>
                                </ul>
                            </div>
                            <div class="btn-getstarted">
                                <a href="#" class="getstarted" id="btn3-p5">
                                    GET STARTED
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="page6">
        <div class="container">
            <div class="slider">
                <div class="slide-arrow" onclick="slideshow_l()"><img src="./arrow-left-2.png" alt=""></div>
                <div class="slide1 active slide">
                    <div class="row row-p6">


                        <div class="col1-p6">
                            <div class="content1-p6">
                                <img src="./testimonials-img.png" class="img-p6" alt="">
                            </div>
                            <div class="ele-p6">
                                <p>@mase.place </p>
                                <div class="arrow">
                                    <a href=""><img src="./arrow_top-right.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col2-p6">
                            <div class="content2-p6">
                                <p class="main-text-p6">"We select to practice in Minerva since it is both useful, and
                                    our
                                    clients basically adore
                                    it! It has stood the test of time and proceeds"</p>
                                <p class="sub-text-p6">Abel carden is a TikTok personality and lip-sync content creator
                                    who has
                                    buit a fanbase of more than 3.2 million follower on the platform.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide2 slide">
                    <div class="row row-p6">


                        <div class="col1-p6">
                            <div class="content1-p6">
                                <img src="./Designer _Flatline 1.png" class="img-p6" alt="">
                            </div>
                            <div class="ele-p6">
                                <p>@mase.place </p>
                                <div class="arrow">
                                    <a href=""><img src="./arrow_top-right.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col2-p6">
                            <div class="content2-p6">
                                <p class="main-text-p6">"We select to practice in Minerva since it is both useful, and
                                    our
                                    clients basically adore
                                    it! It has stood the test of time and proceeds"</p>
                                <p class="sub-text-p6">Abel carden is a TikTok personality and lip-sync content creator
                                    who has
                                    buit a fanbase of more than 3.2 million follower on the platform.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide3 slide">
                    <div class="row row-p6">


                        <div class="col1-p6">
                            <div class="content1-p6">
                                <img src="./Notifications_Flatline 1.png" class="img-p6" alt="">
                            </div>
                            <div class="ele-p6">
                                <p>@mase.place </p>
                                <div class="arrow">
                                    <a href=""><img src="./arrow_top-right.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col2-p6">
                            <div class="content2-p6">
                                <p class="main-text-p6">"We select to practice in Minerva since it is both useful, and
                                    our
                                    clients basically adore
                                    it! It has stood the test of time and proceeds"</p>
                                <p class="sub-text-p6">Abel carden is a TikTok personality and lip-sync content creator
                                    who has
                                    buit a fanbase of more than 3.2 million follower on the platform.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-arrow" onclick="slideshow_r();style=' animation: animate-2 1s;'"><img src="./arrow-right-2.png" alt=""></div>
            </div>
        </div>
    </section>



    <section class="page7">
        <div class="container">
            <div class="head-p7">
                <div class="btn-p7">
                    <p class="btn-blog">Bolg</p>
                </div>
                <h3 class="h3-p7">
                    Stay updated
                </h3>

            </div>
            <div class="row">
                <div class="col-p4">
                    <div class="content-p4">
                        <div>
                            <img src="./Rectangle 19.png" class="img1-p4" alt="">
                        </div>
                        <div class="content1-p4">
                            <p class="btn-webDesign">
                                Web design
                            </p>
                            <h4 class="h4-p4">
                                We Launch Minerva Template this Week!
                            </h4>
                            <p class="sub2-p4">
                                Build a unique website with HireX Template
                            </p>
                            <a href="#" class="read-more">Read more <span>&#8594;</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-p4" id="col2-p4">
                    <div class="content-p4">
                        <div>
                            <img src="./Rectangle 20.png" class="img1-p4" alt="">
                        </div>
                        <div class="content1-p4">
                            <p class="btn-webDesign">
                                Web Design
                            </p>
                            <h4 class="h4-p4">
                                Introducing the Non-Code Webflow Guide
                            </h4>
                            <p class="sub2-p4">
                                Build a unique website with HireX Template
                            </p>
                            <a href="#" class="read-more">Read more <span>&#8594;</span></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="page8">
        <div class="container">
            <div class="row">
                <div class="col-p8">
                    <h3 class="h3-p7">
                        Get our latests news & updates
                    </h3>
                    <form action="#" method="get">
                        <div class="input-p8">
                            <label for="name">NAME : <input type="text " name="name" id="name"></label>
                        </div>
                        <!-- <hr> -->
                        <div class="input-p8">
                            <label for="email">EMAIL : <input type="text " name="email" id="email"></label>
                        </div>
                        <!-- <hr> -->
                        <div class="input-p8">
                            <input type="submit" value="SUBSCRIBE" id="subscribe">
                            <span class="arrow-p8"><big><big><big><big>&#8594;</big></big></big></big></span>
                        </div>
                    </form>
                </div>
                <div class="col-p8">
                    <div class="text-p8">
                        <p>We select to practice in Minerva since it is both useful and commonsense, and our clints
                            basically adore it</p>
                        <a href="#" class="book-call">Book a Call</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page9">
        <div class="marquee">

            <div class="row row-p2">
                <div class="col-p9">
                    <div class="content-p2">
                        <p>THANK YOU FOR VISIT</p>
                        <p class="color">+</p>
                        
                    </div>
                </div>
                <div class="col-p9">
                    <div class="content-p2">
                        <p>THANK YOU FOR VISIT</p>
                        <p class="color">-</p>
                    </div>
                </div>
                <div class="col-p9">
                    <div class="content-p2">
                        <p>THANK YOU FOR VISIT</p>
                        <p class="color">+</p>
                    </div>
                </div>
                <div class="col-p9">
                    <div class="content-p2">
                        <p>THANK YOU FOR VISIT</p>
                        <p class="color">-</p>
                    </div>
                </div>
                <div class="col-p9">
                    <div class="content-p2">
                        <p>THANK YOU FOR VISIT!</p>
                        <p class="color">+</p>
                    </div>
                </div>
                <div class="col-p9">
                    <div class="content-p2">
                        <p>THANK YOU FOR VISIT!</p>
                        <p class="color">-</p> 
                    </div>
                </div>
                

            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="logo">
                <img src="./HireX_black.png" class="footer-logo" alt="">
                <hr>
            </div>

            <div class="content-footer">
                <div class="row">
                    <div class="col-f">
                        <div class="text-f">
                            <p>Products</p>
                            <ul class="f-list">
                                <li>Plateform</li>
                                <li>Store Overview</li>
                                <li>Email Reports</li>
                                <li>Portfolio</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-f">
                        <div class="text-f">
                            <p>Resources</p>
                            <ul class="f-list">
                                <li>Case Studies</li>
                                <li>Product Guides</li>
                                <li>Reports</li>
                                <li>Blog</li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-f">
                        <div class="text-f">
                            <p>Company</p>
                            <ul class="f-list">
                                <li>Careers</li>
                                <li>Contact Sales</li>
                                <li>Contact Suport</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-f">
                        <div class="text-f">
                            <p>Partners</p>
                            <ul class="f-list">
                                <li>Partner With Us</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="small-text-f">
                    <p>Terms and Conditions</p>
                    <p>Privacy Policy</p>
                </div>
            </div>

        </div>
    </footer>



    <script src="./task3.js"></script>
</body>

</html>