.btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  padding: 1rem;
  color: black;
  margin: 20px 7px;
}

.comp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;

}

.comp p {
  margin-right: auto;
}

.comp .form {
  margin-left: auto;
}

.head {
  font-size: x-large;
  font-weight: 300;
  text-align: center;
}

#tbl {
  width: 95%;
  margin: auto
}

.tbl {
  margin: auto;
  width:80%
}

.view {
  text-decoration: none;
  color: black;

}

th {
  font-weight: normal;
}

td {
  text-align: center;
  width: min-content;
  padding: 7px 0;
}


#tbl tbody tr:nth-child(even) {
  background-color: #ffffff;
  color: #000000;
}

#tbl tbody tr:nth-child(odd) {
  background-color: #dadada;
  color: #000000;
}

.att-table {
  margin: 0 auto;
}

.details {
  /* margin: 0 auto; */
  text-align: center;
}

.header {
  cursor: pointer;
  height: 2rem;
}

.search {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.search td {
  width: 175px;

  text-align: inherit;
}

#show {
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

#showmore {
  cursor: pointer;
}

input {
  margin-right: 1rem;
}

.month {
  margin-left: auto;
}